:root {
    --background: #FFFFFF;
    --head-bg: #F9FAFC;
    --text-color: #1F2D3D;
    --container: #E0E6ED;
    --hackclub-red: #EC3750;
    --hackclub-orange: #FF8C37;
    --hackclub-yellow: #F1C40F;
    --hackclub-green: #33D6A6;
    --hackclub-lightblue: #5BC0DE;
    --hackclub-blue: #338EDA;
    --hackclub-purple: #A633D6;
    --hackclub-grey: #8492A6;
}

body {
    margin: 0;
}

* {
    font-family: "Phantom Sans";
    color: var(--text-color);
}

nav {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 30px;
    font-size: 18px;
    height: fit-content;
    margin: 0 auto;
    padding: 20px 0px;
    box-sizing: border-box;
    overflow: hidden;
    background-color: var(--head-bg);
}

nav a {
    text-decoration: none;
    text-wrap: nowrap;
}

.header-area {
    background-color: var(--head-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flag {
    display: block;
    height: 0;
    margin-right: 135px;
}

.flag>img {
    height: 60px;
    transform: translateY(-20px) rotate(0deg);
    transition: 1000ms transform;
    transform-origin: 0% 0%;
}

.flag>img:hover {
    transform: translateY(-20px) rotate(-10deg);
}

.main-head-text {
    font-size: 80px;
    color: var(--hackclub-green);
    margin-top: 1em;
    margin-bottom: 0.15em;
}

.main-sub-text {
    font-size: 28px;
    margin-bottom: 5em;
}

.shop-area {
    display: flex;
    flex-direction: column;
    padding: 0px 50px 50px 50px;
    max-width: 1150px;
    width: 60%;
    margin: 0 auto;
}

.shop-area>h1 {
    margin: 50px 0 8px 0;
}

.shop-area section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.accent-button {
    display: block;
    color: var(--hackclub-green);
    border: 3px solid var(--hackclub-green);
    width: fit-content;
    padding: 10px 15px;
    font-weight: bolder;
    font-size: 18px;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 15px;
}

.shop-item {
    background-color: var(--container);
    border-radius: 10px;
    position: relative;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 10px;
    box-sizing: border-box;
}

.shop-item>.info {
    display: flex;
    flex-direction: column;

    align-items: center;
    gap: 5px;
    height: 100%;
    transition: 300ms filter;
}

.shop-item>.info:hover {
    filter: blur(10px);
}

.shop-item>.info:hover~.add-to-basket {
    bottom: 55px;
    transform: translate(-50%, 50%) scale(1);
}

.shop-item>.add-to-basket:hover {
    bottom: 55px;
    transform: translate(-50%, 50%) scale(1.1);
}

.info.blurred {
    filter: blur(10px);
}

.shop-item>.info:hover {
    filter: blur(10px);
}

.shop-item>img {
    height: 180px;
    width: auto;
    transition: transform 200ms, filter 200ms;
    transition-timing-function: cubic-bezier(0.64, 0.57, 0.67, 1.53);
    transform: scale(1) rotate(0deg);
    filter: drop-shadow(2px 5px 0.2rem rgba(0, 0, 0, 0.3));
    cursor: pointer;
}

.shop-item>img:hover {
    transform: scale(1.05) rotate(-5deg);
    filter: drop-shadow(3px 10px 0.5rem rgba(0, 0, 0, 0.6));
}

.shop-item>.info>#item-name {
    margin-top: auto;
    font-size: 28px;
    text-align: center;
    text-wrap: balance;
}

.shop-item>.info>#item-description {
    font-size: 18px;
    margin: 0;
    min-height: calc(18px * 3 + 5px);
}



.shop-item>.add-to-basket {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, 100%) scale(1);
    z-index: 100;
    transition: 100ms transform, 300ms bottom;

    color: var(--hackclub-green);
    border: 3px solid var(--hackclub-green);
    width: max-content;
    padding: 5px 15px;
    font-weight: bolder;
    font-size: 20px;
    border-radius: 50px;
    cursor: pointer;

    display: flex;
    height: min-content;
    align-items: center;

    gap: 10px;
}

.shop-item>.add-to-basket>img {
    height: 30px;
}

@media only screen and (max-width: 600px) {
    nav {
        height: 70px;
        justify-content: left;
    }

    nav a:not(.flag) {
        display: none;
    }

    .flag {
        margin-right: 0;
        margin-left: 40px;
    }

    .main-head-text {
        font-size: 48px;
        margin-top: 0.5em;
    }

    .main-sub-text {
        font-size: 22px;
        width: 80%;
        text-align: center;
        margin-bottom: 1em;
    }

    .shop-area {
        padding: 0px;
        width: 90%;
        padding-bottom: 20px;
    }

    .shop-area section {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}