<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hack Club Shop - {{PRODUCT_TITLE}}</title>
    <link rel="stylesheet" href="/resources/style/font.css">
    <link rel="stylesheet" href="/resources/style/style.css">
    <link rel="stylesheet" href="/resources/style/product.css">

    <meta name="keywords" content="hack,club,hackclub,shop,merch,swag">
    <meta name="robots" content="index, follow">

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="revisit-after" content="30 days">

    <meta name="author" content="awdev">

    <meta name="title" content="Hack Club Shop - {{PRODUCT_TITLE}}">
    <meta property="og:title" content="Hack Club Shop - {{PRODUCT_TITLE}}">

    <meta name="description" content="{{SHORT_DESCRIPTION}}">
    <meta property="og:description" content="{{SHORT_DESCRIPTION}}">

    <meta property="og:type" content="website">
    <meta property="og:url" content="http://hackclub.com">

    <meta name="theme-color" content="#ec3750">

    <meta property="og:image" content="{{PRODUCT_MAINIMAGE}}">
    <meta name="twitter:card" content="{{PRODUCT_MAINIMAGE}}">

    <link href="/resources/images/logo/hc.svg" rel="icon">

    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
</head>

<body>
    <nav>
        <a href="https://hackclub.com" class="flag">
            <img src="/resources/images/logo/flag.svg">
        </a>
        <a href="https://hackclub.com/clubs/">Clubs</a>
        <a href="https://hackclub.com/fiscal-sponsorship/">Fiscal Sponsorship</a>
        <a href="https://hackclub.com/hackathons/">Hackathons</a>
        <a href="https://hackclub.com/slack">Community</a>
        <a href="https://scrapbook.hackclub.com/">Scrapbook</a>
        <a href="https://boreal.hackclub.com/">The Boreal Express</a>
        <a href="https://hackclub.com/onboard/">Onboard</a>
    </nav>
    <div class="product-info-container">
        <div class="product-image-container">
            <div class="product-main-image">
                <img src="{{PRODUCT_MAINIMAGE}}">
            </div>
            <div class="product-image-list">
                <img src="/resources/images/products/orpheus_boba.png">
                <img src="/resources/images/products/orpheus_boba.png">
                <img src="/resources/images/products/orpheus_boba.png">
                <img src="/resources/images/products/orpheus_boba.png">
                <img src="/resources/images/products/orpheus_boba.png">
            </div>
        </div>
        <div class="product-data-container">
            <h1 id="product-name">{{PRODUCT_TITLE}}</h1>
            <div class="star-rating">
                <img src="/resources/images/icons/star-full.svg">
                <img src="/resources/images/icons/star-full.svg">
                <img src="/resources/images/icons/star-full.svg">
                <img src="/resources/images/icons/star-full.svg">
                <img src="/resources/images/icons/star-half.svg">
                <span id="rating-text">(12K)</span>
            </div>
            <p id="product-description">
                {{PRODUCT_DESCRIPTION}}
                <br><br>
                Backed by the <b>Hack Club Quality Guarantee&reg;</b>!
            </p>
            <div class="stock-counter">
                <img class=".stock-image" src="/resources/images/icons/stock-ping.svg">
                <span id="stock-count">{{PRODUCT_STOCK}}</span>
                <span>in stock</span>
            </div>
            <div class="purchase-buttons">
                <button class="add-to-basket">Add to basket</button>
                <button class="buy-now">Buy Now</button>
            </div>
            <div class="expandables">
                <div class="expandable-item">
                    <div class="expandable-header">
                        <span class="expandable-title">Description</span>
                        <span class="expandable-indicator">+</span>
                    </div>
                </div>
                <div class="expandable-item">
                    <div class="expandable-header">
                        <span class="expandable-title">Features</span>
                        <span class="expandable-indicator">+</span>
                    </div>
                </div>
            </div>
            <div class="buywith">
                <div class="buywith-text">
                    <span class="buywith-title">Buy it with</span>
                    <span id="buywith-productname">Pile of stickers</span>
                    <button class="add-to-basket" onclick="alert('buy!')">Add to basket</button>
                </div>
                <img src="/resources/images/products/stickerpile.png">
            </div>
        </div>
    </div>
</body>

</html>